@tablet-width: 768px;
@desktop-width: 1440px;

.additional {
  padding: 25px 20px;
  padding-top: 25px;
  position: relative;
}

.additional::before {
  content: "";
  position: absolute;
  top: 9%;
  height: 2px;
  width: 53px;
  background-color: #68b738;
  z-index: -1;
  right: 0;
}

.additional__title-main {
  font-family: @main-font, @accent-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 31px;
}

.additional__products {
  display: grid;
  border-top: 1px solid #cdcdcd;
}

.additional__products:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.additional__table-characteristics,
.additional__table-description {
  font-family: @accent-font, @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: @arial;
  padding-bottom: 15px;
}

.additional__table-characteristics {
  grid-column: 1 / 2;
}

.additional__table-description {
  grid-column: 3 / 4;
}

.additional__table-buy {
  grid-column: 1 / 4;
}


.additional__title {
  font-family: @main-font, @accent-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 16px;
  padding-bottom: 13px;
  padding-top: 10px;
}

.additional__item__button {
  padding: 10px 109px;

  margin-bottom: 19px;
}

@media (min-width: @tablet-width) {
  .additional {
    padding-top: 0;
    padding-bottom: 104px;
  }

  .additional__title-main {
    font-size: 36px;
    line-height: 36px;
  }

  .additional__products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 25px;
    column-gap: 49px;
    align-items: baseline;
    align-content: center;
    border-top: none;
  }

  .additional__products:not(:last-child) {
    border-bottom: 1px solid #cdcdcd;
  }

  .additional__table-characteristics {
    grid-column: 2/3;
  }

  .additional__table {
    border: 1px solid #cdcdcd;
  }

  .additional__products:last-child {
    border-bottom: none;
  }

  .additional__title {
    font-size: 20px;
    line-height: 20px;
    padding-left: 38px;
    padding-top: 26px;
  }

  .additional__table-buy {
    grid-column: 1 / -1;
  }

  .additional__item__button {
    padding: 7px 220px;
    margin: 0 auto;
    margin-bottom: 28px;
  }

  .additional__table-characteristics,
  .additional__table-description {
    font-size: 16px;
    line-height: 20px;
  }

  .additional__table-characteristics:first-child {
    padding-left: 244px;
  }
}


@media (min-width: @desktop-width) {
  .additional__title-main {
    padding-bottom: 81px;
  }

  .additional__table {
    border: none;
  }


  .additional__products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #cdcdcd;
  }

  .additional__products:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  .additional__products:first-child {
    border-top: 1px solid #cdcdcd;
  }

  .additional__title {
    padding-top: 25px;
    padding-bottom: 27px;
  }

  .additional__table-characteristics,
  .additional__table-description {
    font-size: 16px;
    line-height: 20px;
  }

  .additional__item__button {
    padding: 13px 91px;
  }

  .additional__table-buy {
    grid-column: 5 / 6;
  }
}
