@tablet-width: 768px;
@desktop-width: 1440px;

.additional {
  padding: 25px 20px;
  padding-top: 0;
  position: relative;
}

.additional::before {
  content: "";
  position: absolute;
  top: 3%;
  height: 2px;
  width: 100%;
  background-color: #68b738;
  z-index: -1;
  right: 0;
}

.additional__title-main {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0 20px;
  padding-top: 2px;
  padding-bottom: 31px;
  width: fit-content;
  position: relative;
  left: -20px;
  background-color: @white;
}

.additional__table {
  margin: auto;
}

.additional__menu {
  display: flex;
  flex-wrap: wrap;
}

.additional__products {
  display: grid;
  border-top: 1px solid #cdcdcd;
  width: 100%;
  justify-content: space-between;
}

.additional__products:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.additional__table-characteristics,
.additional__table-description {
  font-family: @accent-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: @arial;
  padding-bottom: 15px;
}

.additional__table-characteristics {
  grid-column: 1 / 2;
}

.additional__table-description {
  grid-column: 3 / 4;
}

.additional__table-buy {
  grid-column: 1 / 4;
}


.additional__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 16px;
  padding-bottom: 13px;
  padding-top: 10px;
}

.additional__item__button {
  padding: 10px 109px;

  margin-bottom: 19px;
}

@media (min-width: @tablet-width) {
  .additional {
    padding-top: 0;
    padding-bottom: 68px;
  }

  .additional::before {
    top: 4%;
  }

  .additional__title-main {
    font-size: 36px;
    line-height: 36px;
    left: 0;
    padding-top: 6px;
    padding-left: 46px;
    padding-bottom: 78px;
  }

  .additional__products {
    display: grid;
    align-items: baseline;
    align-content: center;
    border-top: none;
    grid-template-columns: 246px 376px 84px;
    min-width: 708px;
  }

  .additional__products:not(:last-child) {
    border-bottom: 1px solid #cdcdcd;
  }

  .additional__table-characteristics {
    grid-column: 2/3;
    padding-left: 195px;
  }

  .additional__table {
    border: 1px solid #cdcdcd;
    margin-left: 10px;
  }

  .additional__products:last-child {
    border-bottom: none;
  }

  .additional__title {
    font-size: 20px;
    line-height: 20px;
    padding-left: 38px;
    padding-top: 26px;
  }

  .additional__table-buy {
    grid-column: 1 / -1;
  }

  .additional__item__button {
    padding: 7px 283px;
    margin: 0 38px;
    grid-column: 1/-1;
    margin-top: 10px;
    margin-bottom: 27px;
  }

  .additional__table-description {
    padding-left: 2px;
  }

  .additional__table-characteristics,
  .additional__table-description {
    font-size: 16px;
    line-height: 20px;
  }

  .additional__characteristics-water {
    padding-left: 261px;
  }

  .additional__characteristics-milk {
    padding-left: 278px;
  }

  .additional__characteristics-vitamins {
    padding-left: 203px;
  }
}


@media (min-width: @desktop-width) {
  .additional {
    padding-left: 0;
  }

  .additional::before {
    display: none;
  }

  .additional__title-main {
    padding-bottom: 75px;
    margin-top: -23px;
    display: block;
    background-color: @white;
    z-index: 8;
    padding-left: 16px;
    padding-top: 0;
  }

  .additional__table {
    border: none;
  }


  .additional__products {
    border-bottom: 1px solid #cdcdcd;
    grid-template-columns: 324px 132px 156px 1fr;
  }

  .additional__products:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  .additional__products:first-child {
    border-top: 1px solid #cdcdcd;
  }

  .additional__title {
    padding-top: 25px;
    padding-bottom: 27px;
    padding-left: 0;
  }

  .additional__table-characteristics,
  .additional__table-description {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  .additional__table-characteristics {
    padding: 0;
    text-align: start;
  }

  .characteristics-water {
    text-align: start;
  }

  .description-water {
    text-align: end;
  }

  .additional__item__button {
    padding: 7px 91px;
    margin-bottom: 8px;
    margin-right: 0;
  }

  .additional__table-buy {
    grid-column: 5 / 6;
  }
}
