@grey: #F2F2F2;
@black:#000000;
@arial: #444444;
@tablet-width: 768px;
@desktop-width: 1440px;

.advantages__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  padding: 0;
  margin-top: 42px;
}

.advantage {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  align-items: center;
}

.advantage__description {
  font-family: @accent-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @arial;
}

@media (min-width: @tablet-width) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    padding: 0;
    margin-top: 72px;
    display: grid;
    gap: 137px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 43px;
    border-bottom-color: #e6e6e6;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  .advantage {
    list-style-type: none;
    display: grid;
    gap: 20px;
    grid-template-columns: 201px;
    align-items: center;
  }

  .advantage--healthy {
    background-image: url("../img/advantage-numb/advantage--healthy.svg");
    width: 201px;
    height: 280px;
    background-repeat: no-repeat;
    background-position: right;
  }

  .advantage--conveniently {
    background-image: url("../img/advantage-numb/conveniently.svg");
    width: 227px;
    height: 280px;
    background-repeat: no-repeat;
    background-position: right;
  }

  .advantage--tasty {
    background-image: url("../img/advantage-numb/tasty.svg");
    width: 209px;
    height: 280px;
    background-repeat: no-repeat;
    background-position: right;
  }

  .advantage--fast {
    background-image: url("../img/advantage-numb/fast.svg");
    width: 245px;
    height: 280px;
    background-repeat: no-repeat;
    background-position: right;
  }

  .advantage:nth-child(2) {
    grid-template-columns: 227px;
  }

  .advantage:nth-child(3) {
    grid-template-columns: 209px;
  }

  .advantage:nth-child(4) {
    grid-template-columns: 245px;
  }

  .advantage__image {
    grid-column: 1 / -1;
    width: 80px;
    height: 80px;
  }

  .advantage__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding-left: 110px;
  }

  .advantages__title {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    padding: 0;
    margin-top: 42px;
    gap: 78px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 69px;
    border: none;
  }

  .advantage {
    list-style-type: none;
    display: grid;
    gap: 20px;
    grid-template-columns: 201px;
    align-items: center;
  }

  .advantage:nth-child(2) {
    grid-template-columns: 227px;
  }

  .advantage:nth-child(3) {
    grid-template-columns: 209px;
  }

  .advantage:nth-child(4) {
    grid-template-columns: 245px;
  }

  .advantage__description {
    font-family: @accent-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: @arial;
  }
}
