.button {
  font-style: @main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @white;
  padding: 8px 44px;
  background: @accent;
  display: block;
  text-align: center;
  border: none;
  text-transform: uppercase;
}

.button--secondary {
  font-style: @main-font;
  color: @arial;
  background: @grey;
  text-transform: uppercase;
}
