@tablet-width: 768px;
@desktop-width: 1440px;

.cooperation__maps {
  display: block;
  border: none;
  width: 100%;
  min-height: 362px;
  background-image: url("../img/location.jpg");
}

@media (min-width: @tablet-width) {
  .cooperation__maps {
    min-width: 768px;
    min-height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .cooperation__maps {
    min-width: 1440px;
    min-height: 400px;
  }
}
