@tablet-width: 768px;
@desktop-width: 1440px;

.cooperation__maps {
  display: block;
  border: none;
  width: 100%;
  min-height: 362px;
  background-image: url("../img/location.jpg");
}

@media (min-width: @tablet-width) {
  .cooperation__maps {
    min-width: 768px;
    min-height: 400px;
  }

  .cooperation__city {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    display: block;
    text-align: start;
    margin-top: 13px;
  }
}

@media (min-width: @desktop-width) {
  .cooperation__maps {
    min-width: 1440px;
    min-height: 400px;
  }

  .cooperation__city {
    display: block;
    margin-top: 18px;
  }
}
