@tablet-width: 768px;
@desktop-width: 1440px;

.example {
  background-color: #eaeaea;
  padding-top: 48px;
}

.example__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
}

.example__discription {
  font-family: @accent-font, @main-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @arial;
  margin: 0;
  padding-top: 40px;
}

.example__buttons {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 43px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: start;
}

.example__list__item:nth-child(2) {
  display: flex;
  align-items: center;
  padding-top: 9px;
}

.buttons-list__bar {
  font-family: @main-font;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

.buttons-list__vh {
  width: 86px;
  height: 14px;
  background-color: @white;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  position: relative;
}

.buttons-list__vh::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 6px;
  top: 3px;
  left: 6px;
  background-color: #68b738;
  border-radius: 6px;
}

.skinny-cat {
  display: none;
}

@media (min-width: @tablet-width) {
  .example {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 45%, rgba(242, 242, 242, 1) 45%);
    padding: 53px 0;
  }

  .example__changes-img {
    width: 596px;
    height: 511px;
    position: absolute;
  }

  .example__changes {
    position: relative;
    height: 511px;
    max-width: 592px;
  }

  .fat-cat {
    clip: rect(auto, 276px, auto, auto);
    left: 129px;
  }

  .skinny-cat {
    display: block;
    clip: rect(auto, auto, auto, 270px,);
    left: 135px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
  }

  .example__discription {
    font-size: 16px;
    line-height: 24px;
    padding-top: 63px;
  }

  .buttons-list__bar {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px solid #0505054f;
    border-style: dotted;
    margin-right: 23px;
  }

  .buttons-list__bar:last-child {
    margin-left: 23px;
  }

  .buttons-list__vh {
    width: 426px;
    height: 6px;
    background-color: #dcdcdc;
  }

  .buttons-list__vh::before {
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    top: -15px;
    left: 50%;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
  }

  .buttons-list__vh::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    top: -2px;
    left: 53%;
    background-color: #68b738;
    border-radius: 50%;
  }
}

@media (min-width: @desktop-width) {
  .example {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 28%, rgba(242, 242, 242, 1) 28%);
    padding-right: 117px;
    padding-top: 69px;
    display: grid;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    grid-column: 1 / 2;
  }

  .example__discription {
    font-size: 16px;
    line-height: 24px;
    padding-top: 63px;
    grid-column: 1 / 2;
  }

  .example__changes {
    grid-column: 2;
    margin-top: -320px;
  }

  .example__buttons {
    grid-column: 2;
  }

  .example__desk {
    display: grid;
    grid-template-columns: 436px 592px;
  }

  .fat-cat {
    left: 37px;
  }

  .skinny-cat {
    left: 43px;
  }
}
