@tablet-width: 768px;
@desktop-width: 1440px;

.footer {
  padding: 22px 20px;
  padding-top: 23px;
  background-color: @grey;
}

.footer__logo {
  margin: 0 auto;
  display: block;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .footer {
    padding: 60px 29px;
    padding-top: 63px;
    display: flex;
    gap: 133px;
    align-items: center;
  }

  .footer__logo {
    margin: 0;
    display: block;
    text-align: center;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    padding: 110px 59px;
    padding-top: 56px;
    display: flex;
    gap: 388px;
    align-items: center;
    justify-content: space-between;
  }

  .footer__logo {
    margin: 0;
    display: block;
    text-align: center;
  }
}
