@tablet-width: 768px;
@desktop-width: 1440px;

.footer {
  background-color: @grey;
  margin: 0 auto;
  padding: 39px 20px;
  padding-bottom: 32px;
}

.footer-container {
  padding: 22px 20px;
  padding-top: 23px;
  max-width: 280px;
  margin: 0 auto;
}

.footer__logo {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding-bottom: 32px;
}

@media (min-width: @tablet-width) {
  .footer {
    padding: 60px 29px;
    padding-top: 63px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 708px;
  }

  .footer__logo {
    margin: 0;
    display: block;
    text-align: center;
    padding-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    padding: 110px 59px;
    padding-top: 56px;
  }

  .footer-container {
    justify-content: space-between;
    max-width: 1220px;
  }

  .footer__logo {
    margin: 0;
    display: block;
    text-align: center;
  }
}
