.gift {
  background-image: url("../img/icon_gift.svg"), url("../img/gift.png");
  background-repeat: no-repeat;
  background-size: 80px, cover;
  background-position: top 58px center, center;
  padding: 186px 58px 43px;
  margin-bottom: 35px;
  background-color: @accent;
  text-align: center;
}

.gift__info {
  font-family: @accent-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  display: block;
  align-content: center;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .gift {
    background-position: top 57px left 77px, center;
    position: relative;
  }

  .gift__info {
    padding-left: 422px;
    padding-top: 71px;
    position: absolute;
    top: -5px;
    right: 154px;
  }
}

@media (min-width: @desktop-width) {
  .gift {
    background-position: top 58px center, center;
    margin: 91px 0;
    margin-bottom: 86px;
    min-width: 245px;
    min-height: 289px;
  }

  .gift__info {
    padding-left: 41px;
    padding-top: 184px;
  }
}
