.gift {
  background-image: url("../img/icon_gift.svg"), url("../img/gift.png");
  background-repeat: no-repeat;
  background-size: 78px 80px, cover;
  background-position: top 58px center, center;
  padding: 186px 58px 43px;
  background-color: @accent;
  text-align: center;
  margin: 0 20px;
  margin-bottom: 38px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/icon_gift.svg"), url("../img/gift@2x.png");
    background-size: 78px 80px, cover;
  }
}

.gift__info {
  font-family: @accent-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  display: block;
  align-content: center;
  margin: 0 auto;
  width: 164px;
}

@media (min-width: @tablet-width) {
  .gift {
    background-image: url("../img/icon_gift.svg"), url("../img/gift-tablet.png");
    background-position: top 57px left 81px, center;
    position: relative;
    padding-bottom: 13px;
    margin: 0 30px;
    margin-bottom: 78px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/icon_gift.svg"), url("../img/gift-tablet@2x.png");
      background-size: 78px 80px, cover;
    }
  }

  .gift__info {
    padding-top: 71px;
    position: absolute;
    top: 0;
    right: 135px;
    width: 161px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .gift {
    background-image: url("../img/icon_gift.svg"), url("../img/gift-desktop.png");
    background-position: top 58px center, center;
    margin: 91px 0;
    margin-bottom: 86px;
    min-width: 245px;
    min-height: 289px;
    margin-left: 59px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/icon_gift.svg"), url("../img/gift-desktop@2x.png");
      background-size: 78px 80px, cover;
    }
  }

  .gift__info {
    padding-left: 0;
    padding-top: 0;
    top: 187px;
    left: 42px;
    right: 53px;
    text-align: center;
  }
}
