.gift {
  background-image: url("../../img/gift.png"), url("../../img/icon_gift.svg");
  padding-top: 58px;
  padding-bottom: 43px;
  margin-bottom: 35px;
}

.gift__info {
  font-family: @accent-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  display: block;
  align-content: center;
  padding-left: 58px;
  padding-right: 61px;
}
