@height: 302px;
@tablet-width: 768px;
@desktop-width: 1440px;

.intro {
  display: block;
  background-position: top center;
  background-image: linear-gradient(to bottom, fade(@accent, 85%) @height, #ffffff @height), url("../img/index-background-wrapper.jpg");
  background-repeat: no-repeat;
  background-color: #cd853f;
  background-size: 100%;
  color: #ffffff;
}

.intro__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  padding-top: 27px;
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 25px;
  margin: 0;
}


.intro__subtitle {
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

.intro__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.intro__cta {
  margin: 0 20px;
}

@media (min-width: @tablet-width) {
  .intro {
    display: grid;
    justify-items: start;
    background-color: @white;
    color: #ffffff;
    background-image: none;
  }

  .intro__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 62px;
    padding-left: 117px;
    padding-bottom: 41px;
    margin: 0;
    color: @black;
  }

  .intro__image {
    background-position: top right;
  }

  .intro__subtitle {
    font-size: 20px;
    line-height: 20px;
    color: @black;
  }

  .intro__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  .intro__cta {
    margin: 0 20px;
}
}


@media (min-width: @desktop-width) {
  .intro {
    position: relative;
    display: grid;
    justify-items: start;
    background-position: right;
    background-image: linear-gradient(to bottom, fade(@accent, 85%) 694px, #ffffff 694px), url("../img/index-background-wrapper.jpg");
    background-repeat: no-repeat;
    background-color: @white;
    background-size: 50%;
    color: #ffffff;
  }

  .intro__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 223px;
    padding-left: 190px;
    padding-bottom: 40px;
    margin: 0;
    color: @black;
  }

  .intro__image {
    background-position: top right;
  }

  .intro__subtitle {
    font-size: 20px;
    line-height: 20px;
    color: @black;
  }

  .intro__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  .intro__cta {
    margin: 0 20px;
}
}

