.main-form {
  padding: 27px 20px;
  padding-bottom: 32px;
}

.main-form__check-program {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
}

.main-form__info {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 32px;
  padding-bottom: 39px;
}

.catalog-filter-form,
.catalog-filter-group,
.catalog-filter-contacts,
.catalog-filter-comments,
.catalog-filter-more {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-form__filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  border-bottom: 1px solid #d9d9d9;
}

.catalog-filter-form__counter:not(:last-child) {
  padding-bottom: 13px;
}

.catalog-filter-form__counter,
.catalog-filter-contacts__title {
  font-family: @main-font, @accent-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @arial;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  align-content: center;
  gap: 14px;
}

.catalog-filter-form__meaning {
  height: 45;
  width: 229;
  font-family: @main-font, @accent-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @arial;
  border: 1px solid @light-grey;
  box-sizing: border-box;
  padding: 15px 13px;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &-error {
    outline: 2px solid #ff8282;
  }
}

.catalog-filter-group__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 28px;
  margin-top: 24px;
}

.catalog-filter-group__item {
  padding-bottom: 25px;
}

.control {
  position: relative;
  display: block;

  &:focus {
    opacity: 0.3;
  }
}

.control-mark {
  border: 1px solid #cdcdcd;
  position: absolute;
  top: -2px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  outline: none;
  border-radius: 50%;
}

.control-mark:active {
  background: rgba(255, 255, 255, 0.3);
}

.control__input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 7px;
  left: 7px;
  background-color: #68b738;
  border-radius: 50%;
}

.control__label {
  font-family: @main-font, @accent-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @title;
  padding-left: 35px;
}

.control__label:active {
  opacity: 0.3;
}

.control__span {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}

.control__input[type="checkbox"]:checked + .control__span::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 4px;
  width: 18px;
  height: 20px;
  background-image: url("../img/selected.svg");
}

.catalog-filter-contacts__title {
  font-family: @main-font, @accent-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @black;
  padding-top: 26px;
  padding-bottom: 35px;
}

.catalog-filter-contacts {
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
}

.catalog-filter-contacts__filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 48px;
}

.catalog-filter-contacts__filter-item {
  display: grid;
  gap: 9px;
  grid-template-columns: auto 1fr;
}

.catalog-filter-contacts__filter-item:first-child {
  padding-bottom: 14px;
}

.email,
.tel {
  font-family: @main-font, @accent-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: @arial;
}

.email__input,
.tel__phone-number__input {
  font-family: @main-font, @accent-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid @grey;
  box-sizing: border-box;
  padding: 15px 13px;
  position: relative;
}

.email__input {
  background-image: url("../img/email.svg");
  background-size: 18px 13px;
  background-position: center right 16px;
  background-repeat: no-repeat;
  min-width: 217px;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
    background-image: url("../img/email-focus.svg");
  }

  &--error {
    outline: 2px solid #ff8282;
    background-image: url("../img/email-error.svg");
  }
}

.tel__phone-number__input {
  background-image: url("../img/telephone.svg");
  background-size: 18px 13px;
  background-position: center right 16px;
  background-repeat: no-repeat;
  min-width: 200px;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
    background-image: url("../img/telephone-focus.svg");
  }

  &--error {
    outline: 2px solid #ff8282;
    background-image: url("../img/telephone-error.svg");
  }
}

.catalog-filter-comments {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 37px;
}

.catalog-filter-comments__title,
.catalog-filter-more__title {
  font-family: @main-font, @accent-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @black;
}

.catalog-filter-comments__text {
  width: 280px;
  height: 151px;
  border: 1px solid @light-grey;
  font-family: @main-font, @accent-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @arial;
  padding-top: 10px;
  padding-left: 15px;
}

.catalog-filter-more {
  margin-top: 23px;
}

.catalog-filter-more__list {
  list-style-type: none;
  padding-top: 34px;
  padding-left: 0;
}

.catalog-filter-button__cost {
  margin-top: 41px;
}

.catalog-filter-more__item:not(:last-child) {
  padding-bottom: 25px;
}

.catalog-filter-explanation {
  font-family: @accent-font, @main-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @black;
  padding-top: 21px;
  margin: 0;
  display: grid;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .main-form {
    padding: 75px 69px;
    padding-bottom: 72px;
  }

  .main-form__check-program {
    font-size: 60px;
    line-height: 60px;
  }

  .main-form__info {
    font-size: 20px;
    line-height: 30px;
    padding-top: 54px;
    padding-bottom: 64px;
    padding-right: 305px;
    margin: 0;
  }

  .catalog-filter-form__filter-list {
    display: block;
  }

  .catalog-filter-form__filter-item:not(:last-child) {
    padding-bottom: 20px;
  }

  .catalog-filter-form__counter,
  .catalog-filter-contacts__title {
    font-size: 20px;
    line-height: 30px;
  }

  .meaning-weight,
  .meaning-age {
    padding-right: 15px;
  }

  .catalog-filter-form__meaning {
    font-size: 16px;
    line-height: 18px;
    padding: 15px 13px;
  }

  .meaning-name {
    width: 567px;
  }

  .meaning-weight {
    width: 536px;
  }

  .meaning-age {
    width: 497px;
  }

  .catalog-filter-group {
    border: 1px solid @light-grey;
    padding: 30px 88px;
    margin-top: 72px;
    margin-bottom: 75px;
  }

  .catalog-filter-group__list {
    margin: 0;
    padding-top: 0;
  }

  .catalog-filter-group__item {
    padding-bottom: 0;
  }

  .catalog-filter-group__item:not(:first-child) {
    padding-top: 23px;
  }

  .control__label {
    font-size: 20px;
    line-height: 30px;
  }

  .control__input[type="radio"]:checked + .control-mark::before {
    width: 18px;
    height: 18px;
    top: 10px;
    left: 10px;
  }

  .control-mark {
    left: -20px;
    width: 40px;
    height: 40px;
  }

  .catalog-filter-contacts__title {
    font-size: 36px;
    line-height: 36px;
  }

  .catalog-filter-contacts__filter-list {
    padding-top: 76px;
  }

  .catalog-filter-contacts__filter-item:not(:last-child) {
    padding-bottom: 20px;
  }

  .catalog-filter-contacts {
    padding: 0;
    margin: 0;
    margin-bottom: 65px;
  }

  .email,
  .tel {
    font-size: 20px;
    line-height: 30px;
  }

  .email {
    padding-right: 18px;
  }

  .tel {
    padding-right: 14px;
  }

  .email__input,
  .tel__phone-number__input {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 21px;
  }

  .email__input {
    min-width: 536px;
  }

  .tel__phone-number__input {
    min-width: 519px;
  }

  .catalog-filter-comments {
    padding: 0;
    margin: 0;
    display: grid;
    gap: 37px;
  }

  .catalog-filter-comments__title,
  .catalog-filter-more__title {
    font-size: 36px;
    line-height: 36px;
  }

  .catalog-filter-comments__text {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 19px;
    height: 174px;
    width: 631px;
  }

  .catalog-filter-button {
    padding-top: 59px;
    display: flex;
    gap: 61px;
  }

  .catalog-filter-more {
    margin-top: 23px;
  }

  .catalog-filter-more__list {
    padding-top: 62px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 42px;
    column-gap: 124px;
  }

  .catalog-filter-explanation {
    font-size: 16px;
    line-height: 16px;
    padding-top: 43px;
  }

  .catalog-filter-button__cost {
    padding: 17px 44px;
  }
}

@media (min-width: @desktop-width) {
  .main-form {
    padding: 89px 110px;
    padding-bottom: 82px;
  }

  .main-form__info {
    padding-top: 56px;
    padding-bottom: 66px;
    padding-right: 897px;
    margin: 0;
  }


  .catalog-filter-form__counter,
  .catalog-filter-contacts__title {
    font-size: 20px;
    line-height: 30px;
  }

  .meaning-weight,
  .meaning-age {
    padding-right: 15px;
  }

  .catalog-filter-form__meaning {
    font-size: 16px;
    line-height: 18px;
    padding: 15px 13px;
  }

  .meaning-name {
    width: 567px;
  }

  .meaning-weight {
    width: 536px;
  }

  .meaning-age {
    width: 497px;
  }

  .catalog-filter-group {
    margin: 0;
    padding: 30px 88px;
  }

  .catalog-filter-group__item:not(:first-child) {
    padding-top: 23px;
  }

  .control__label {
    font-size: 20px;
    line-height: 30px;
  }

  .desktop-container {
    display: flex;
    gap: 80px;
  }


  .catalog-filter-contacts__title {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 0;
    padding-top: 69px;
  }

  .catalog-filter-contacts__filter-list {
    padding-top: 76px;
    display: flex;
    justify-content: space-between;
  }

  .catalog-filter-contacts__filter-item:not(:last-child) {
    padding-bottom: 20px;
  }

  .catalog-filter-contacts {
    padding: 0;
    margin: 0;
    margin-bottom: 65px;
  }

  .email,
  .tel {
    font-size: 20px;
    line-height: 30px;
  }

  .email {
    padding-right: 18px;
  }

  .tel {
    padding-right: 14px;
  }

  .email__input {
    min-width: 486px;
  }

  .tel__phone-number__input {
    min-width: 472px;
  }

  .email__input,
  .tel__phone-number__input {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 21px;
  }

  .catalog-filter-comments__text {
    height: 174px;
    width: 1220px;
    margin-top: 76px;
  }

  .catalog-filter-button {
    padding-top: 61px;
    display: flex;
    gap: 81px;
  }

  .catalog-filter-more {
    margin-top: 67px;
  }

  .catalog-filter-more__list {
    padding-top: 62px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 105px;
  }

  .catalog-filter-explanation {
    font-size: 16px;
    line-height: 16px;
  }

  .catalog-filter-button__cost {
    padding: 13px 188px;
  }
}
