.main-form {
  padding: 27px 0;
  padding-bottom: 32px;
}

.main-form__check-program {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.main-form__info {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 37px;
  padding-bottom: 37px;
  margin: 0;
  padding-right: 55px;
  padding-left: 20px;
}

.catalog-filter-form,
.catalog-filter-group,
.catalog-filter-contacts,
.catalog-filter-comments,
.catalog-filter-more {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-form__filter-item {
  padding: 0 20px;
}

.catalog-filter-form__filter-item:not(:first-child) {
  padding-top: 9px;
}

.catalog-filter-form__filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  border-bottom: 1px solid #d9d9d9;
}

.catalog-filter-form__counter:not(:last-child) {
  padding-bottom: 13px;
}

.catalog-filter-form__counter,
.catalog-filter-contacts__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @arial;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  align-content: center;
  gap: 14px;
}

.catalog-filter-form__meaning {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @arial;
  border: 1px solid @light-grey;
  box-sizing: border-box;
  padding: 15px 16px;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &-error {
    outline: 2px solid #ff8282;
  }
}

.catalog-filter-group__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 21px;
  border-bottom: 1px solid #d9d9d9;
}

.catalog-filter-group__item {
  padding-bottom: 19px;
  padding-left: 20px;
}

.control {
  position: relative;
  display: block;

  &:focus {
    opacity: 0.3;
  }
}

.control-mark {
  border: 1px solid #cdcdcd;
  position: absolute;
  top: -2px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  outline: none;
  border-radius: 50%;
}

.control-mark:active {
  background: rgba(255, 255, 255, 0.3);
}

.control__input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 7px;
  left: 7px;
  background-color: #68b738;
  border-radius: 50%;
}

.control__label {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @title;
  padding-left: 46px;
}

.control__label:active {
  opacity: 0.3;
}

.control__span {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
}

.control__input[type="checkbox"]:checked + .control__span::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 4px;
  width: 18px;
  height: 20px;
  background-image: url("../img/selected.svg");
}

.catalog-filter-contacts__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @black;
  padding-top: 29px;
  text-transform: inherit;
  padding-left: 20px;
  width: 216px;
  position: relative;
  background-color: @white;
}

.catalog-filter-contacts {
  padding: 0;
  margin: 0;
  margin-bottom: 23px;
  position: relative;
}

.catalog-filter-contacts::before {
  content: "";
  position: absolute;
  top: 20%;
  height: 2px;
  width: 100%;
  background-color: #68b738;
  z-index: -1;
  right: 0;
}

.catalog-filter-contacts__filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  padding-top: 32px;
  max-width: 1220px;
}

.catalog-filter-contacts__filter-item {
  padding-left: 20px;
}

.catalog-filter-contacts__filter-item:first-child {
  padding-bottom: 14px;
}

.email,
.tel {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: @arial;
}

.email__input,
.tel__phone-number__input {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid @grey;
  box-sizing: border-box;
  padding: 15px 13px;
  position: relative;
}

.email__input {
  background-image: url("../img/email.svg");
  background-size: 18px 13px;
  background-position: center right 13px;
  background-repeat: no-repeat;
  min-width: 217px;
  margin-left: 8px;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
    background-image: url("../img/email-focus.svg");
  }

  &--error {
    outline: 2px solid #ff8282;
    background-image: url("../img/email-error.svg");
  }
}

.tel__phone-number__input {
  background-image: url("../img/telephone.svg");
  background-size: 20px 19px;
  background-position: center right 7px;
  background-repeat: no-repeat;
  min-width: 200px;
  padding-top: 10px;
  padding-left: 16px;
  margin-left: 5px;

  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
    background-image: url("../img/telephone-focus.svg");
  }

  &--error {
    outline: 2px solid #ff8282;
    background-image: url("../img/telephone-error.svg");
  }
}

.catalog-filter-comments {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 37px;
  position: relative;
}

.catalog-filter-comments::before,
.catalog-filter-more::before {
  content: "";
  position: absolute;
  top: 6%;
  height: 2px;
  width: 100%;
  background-color: #68b738;
  z-index: -1;
  right: 0;
}

.catalog-filter-comments__title,
.catalog-filter-more__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @black;
  padding-left: 20px;
  width: fit-content;
  position: relative;
  background-color: @white;
  padding-right: 22px;
}

.catalog-filter-comments__text {
  width: 280px;
  height: 151px;
  border: 1px solid @light-grey;
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @arial;
  padding-top: 10px;
  padding-left: 15px;
  margin-left: 20px;
}

.catalog-filter-more {
  margin-top: 23px;
  position: relative;
}

.catalog-filter-more__list {
  list-style-type: none;
  padding-top: 28px;
  padding-left: 0;
  margin: 0 auto;
  max-width: 1220px;
}

.catalog-filter-button__cost {
  margin: 0 20px;
  margin-top: 41px;
  margin-right: 20px;
  width: 280px;
}

.catalog-filter-more__item {
  padding-left: 20px;
}

.catalog-filter-more__item:not(:last-child) {
  padding-bottom: 19px;
}

.catalog-filter-explanation {
  font-family: @accent-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @black;
  padding-top: 21px;
  margin: 0;
  display: grid;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .main-form {
    padding: 53px 0;
    padding-bottom: 72px;
  }

  .main-form__check-program {
    font-size: 60px;
    line-height: 60px;
    margin: 0 auto;
    max-width: 1220px;
    padding-left: 70px;
  }

  .main-form__info {
    font-size: 20px;
    line-height: 30px;
    padding-top: 54px;
    padding-bottom: 59px;
    padding-right: 308px;
    padding-left: 70px;
    margin: 0;
  }

  .catalog-filter-form__filter-list {
    display: block;
    border: none;
    padding-left: 50px;
  }

  .catalog-filter-form__filter-item:not(:last-child) {
    padding-bottom: 8px;
  }


  .catalog-filter-form__filter-item:not(:first-child) {
    padding-top: 2px;
  }

  .catalog-filter-form__counter,
  .catalog-filter-contacts__title {
    font-size: 20px;
    line-height: 30px;
  }

  .meaning-weight,
  .meaning-age {
    padding-right: 15px;
  }

  .catalog-filter-form__meaning {
    font-size: 20px;
    line-height: 30px;
    padding: 15px 23px;
  }

  .catalog-filter-contacts::before {
    top: 19%;
  }

  .catalog-filter-comments::before {
    top: 8%;
  }

  .catalog-filter-more::before {
    top: 9%;
  }

  .meaning-name {
    width: 567px;
  }

  .meaning-weight {
    width: 536px;
  }

  .meaning-age {
    width: 497px;
  }

  .catalog-filter-group {
    border: 1px solid @light-grey;
    padding: 30px 23px;
    margin-top: 42px;
    margin-bottom: 52px;
    margin-left: 70px;
  }

  .catalog-filter-group__list {
    margin: 0;
    padding-top: 0;
    border: none;
  }

  .catalog-filter-group__item {
    padding-bottom: 0;
  }

  .catalog-filter-group__item:not(:first-child) {
    padding-top: 23px;
  }

  .control__label {
    font-size: 20px;
    line-height: 30px;
    padding-left: 54px;
  }

  .control__input[type="radio"]:checked + .control-mark::before {
    width: 18px;
    height: 18px;
    top: 10px;
    left: 10px;
  }

  .control-mark {
    left: -20px;
    width: 40px;
    height: 40px;
  }

  .catalog-filter-contacts__title {
    font-size: 36px;
    line-height: 36px;
    min-width: 534px;
    display: block;
    margin-left: 20px;
    padding-right: 35px;
    padding-left: 51px;
    width: fit-content;
  }

  .catalog-filter-contacts__filter-list {
    padding-top: 68px;
  }

  .catalog-filter-contacts__filter-item {
    padding-left: 70px;
  }

  .catalog-filter-contacts__filter-item:not(:last-child) {
    padding-bottom: 20px;
  }

  .catalog-filter-contacts {
    padding: 0;
    margin: 0;
    margin-bottom: 65px;
  }

  .email,
  .tel {
    font-size: 20px;
    line-height: 30px;
  }

  .email {
    padding-right: 18px;
  }

  .tel {
    padding-right: 14px;
  }

  .email__input,
  .tel__phone-number__input {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 21px;
  }

  .email__input {
    min-width: 536px;
    background-position: center right -2px;
  }

  .tel__phone-number__input {
    min-width: 519px;
    background-position: center right -3px;
  }

  .catalog-filter-comments {
    padding: 0;
    display: grid;
    gap: 37px;
    margin: 0 auto;
    max-width: 1220px;
  }

  .catalog-filter-comments__title,
  .catalog-filter-more__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 20px;
    padding-left: 48px;
    padding-right: 38px;
  }

  .catalog-filter-comments__text {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 19px;
    height: 174px;
    width: 631px;
    margin-left: 70px;
    margin-top: 38px;
    margin-bottom: 43px;
  }

  .catalog-filter-button {
    font-size: 20px;
    line-height: 20px;
    padding-top: 20px;
    display: flex;
    gap: 45px;
    padding-left: 50px;
    margin: 0 auto;
    max-width: 1220px;
  }

  .catalog-filter-more {
    margin-top: 23px;
  }

  .catalog-filter-more__list {
    padding-top: 58px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 42px;
    padding-left: 53px;
  }

  .catalog-filter-explanation {
    font-size: 16px;
    line-height: 16px;
    padding-top: 59px;
  }

  .catalog-filter-button__cost {
    padding: 17px 44px;
  }

  .control__span {
    width: 40px;
    height: 40px;
  }

  .catalog-filter-more__item:not(:last-child) {
    padding-bottom: 0;
  }

  .span-water,
  .label-water,
  .span-vitamins,
  .label-vitamins {
    margin-left: -15px;
  }
}

@media (min-width: @desktop-width) {
  .main-form {
    padding: 70px 0;
    padding-bottom: 82px;
  }

  .main-form__check-program {
    padding-left: 0;
  }

  .main-form__info {
    padding-top: 56px;
    padding-bottom: 59px;
    padding-right: 830px;
    padding-left: 0;
    margin: 0 auto;
    max-width: 1220px;
  }


  .catalog-filter-form__filter-list {
    padding-left: 0;
  }


  .catalog-filter-form__filter-item:not(:last-child) {
    padding-bottom: 7px;
  }

  .catalog-filter-form__counter,
  .catalog-filter-contacts__title {
    font-size: 20px;
    line-height: 30px;
  }

  .meaning-weight,
  .meaning-age {
    padding-right: 15px;
  }

  .catalog-filter-form__meaning {
    font-size: 20px;
    line-height: 30px;
    padding: 15px 22px;
  }

  .control-mark {
    left: -7px;
  }

  .catalog-filter-form__filter-item {
    padding: 0;
  }

  .meaning-name {
    width: 506px;
  }

  .meaning-weight {
    width: 475px;
  }

  .meaning-age {
    width: 437px;
  }

  .catalog-filter-group {
    margin: 0;
    padding: 30px 16px;
    width: 570px;
  }

  .catalog-filter-group__item:not(:first-child) {
    padding-top: 23px;
  }

  .control__label {
    font-size: 20px;
    line-height: 30px;
  }

  .desktop-container {
    display: flex;
    gap: 80px;
    margin: 0 auto;
    max-width: 1220px;
  }


  .catalog-filter-contacts__title {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 0;
    padding-top: 69px;
  }

  .catalog-filter-contacts__filter-item {
    padding: 0;
  }

  .catalog-filter-contacts__filter-list {
    padding-top: 76px;
    display: flex;
    justify-content: space-between;
  }

  .catalog-filter-contacts__filter-item:not(:last-child) {
    padding-bottom: 20px;
  }

  .catalog-filter-contacts {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 65px;
    max-width: 1220px;
  }

  .email,
  .tel {
    font-size: 20px;
    line-height: 30px;
  }

  .email {
    padding-right: 18px;
  }

  .tel {
    padding-right: 14px;
  }

  .email__input {
    min-width: 486px;
  }

  .tel__phone-number__input {
    min-width: 472px;
  }

  .email__input,
  .tel__phone-number__input {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 21px;
  }

  .catalog-filter-comments__text {
    height: 174px;
    width: 1220px;
    margin-top: 76px;
  }

  .catalog-filter-button {
    padding-top: 61px;
    display: flex;
    gap: 81px;
    padding-left: 0;
    grid-template-columns: auto auto;
  }

  .catalog-filter-more {
    margin: 0 auto;
    margin-top: 67px;
    max-width: 1220px;
  }

  .catalog-filter-more__list {
    padding-top: 62px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 105px;
  }

  .catalog-filter-explanation {
    font-size: 16px;
    line-height: 16px;
  }

  .catalog-filter-button__cost {
    font-size: 20px;
    line-height: 1;
    padding: 13px 188px;
    width: 568px;
    margin: 0;
  }

  .catalog-filter-contacts::before {
    top: 35%;
  }

  .catalog-filter-comments::before {
    top: 6%;
  }

  .catalog-filter-more::before {
    top: 13%;
  }
}
