.main-form {
  padding: 27px 20px;
  padding-bottom: 32px;
}

.main-form__check-program {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.main-form__info {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 32px;
  padding-bottom: 39px;
}

.catalog-filter-form,
.catalog-filter-group,
.catalog-filter-contacts,
.catalog-filter-comments,
.catalog-filter-more {
  border: none;
}

.catalog-filter-form__filter-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin: 0;
  padding: 0;
}

.catalog-filter-form__counter,
.catalog-filter-contacts__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @arial;
  padding-right: 12px;
}

.meaning-weight,
.meaning-age {
  padding-right: 15px;
}

.catalog-filter-form__meaning {
  height: 45;
  width: 229;
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @arial;
  border: 1px solid @grey;
  box-sizing: border-box;
  padding: 15px 13px;
}

.catalog-filter-group__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.control__label {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @title;
}

.catalog-filter-contacts__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @black;
  padding-top: 26px;
  padding-bottom: 35px;
}

.catalog-filter-contacts {
  padding: 0;
  margin: 0;
  padding-bottom: 23px;
}

.catalog-filter-contacts__filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.email,
.tel {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: @arial;
}

.email__input,
.phone-number__input {
  font-family: @main-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid @grey;
  box-sizing: border-box;
  padding: 15px 13px;
}

.catalog-filter-comments {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 37px;
}

.catalog-filter-comments__title,
.catalog-filter-more__title {
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: @black;
}

.catalog-filter-comments__text {
  width: 280px;
  height: 151px;
  border: 1px solid @light-grey;
  font-family: @main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @arial;
  padding-top: 10px;
  padding-left: 15px; //как подвинуть надпись наверх?//
}

.catalog-filter-more {
  margin-top: 23px;
}

.catalog-filter-more__list {
  list-style-type: none;
  padding-top: 34px;
}

.catalog-filter-more__item:not(:first-child) {
  padding-top: 25px;
}

.catalog-filter-explanation {
  font-family: @accent-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @black;
  padding-top: 21px;
  margin: 0;
  display: grid;
  justify-content: center;
}
