@tablet-width: 768px;
@desktop-width: 1440px;

.main-header {
  background-color: #ffffff;
  padding: 10px 20px;
  min-width: 66px;
}

.main-header__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 56px;
}

.main-header__logo {
  margin: 0;
  padding-top: 2px;

  &:hover {
    opacity: 0.3;
  }

  &:focus {
    opacity: 0.1;
  }
}

@media (max-width: @mobile-width-only) {
  .main-header {
    border-bottom: 1px solid #d9d9d9;
  }

  .main-header__info {
    justify-content: space-between;
  }

  .main-header__toggle {
    margin: 0;
    padding: 0;
    z-index: 2;
    display: block;
    width: 24px;
    min-height: 16px;
    cursor: pointer;
    border: none;
    position: relative;
    background-color: transparent;
    margin-left: 9px;
    margin-bottom: 5px;
  }

  .main-header__toggle--nojs {
    display: none;
  }

  .main-header__toggle--closed::before {
    width: 24px;
    height: 24px;
    position: absolute;
    content: "";
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    top: 0;
    right: 0;
  }

  .main-header__toggle--opened {
    display: block;
  }

  .main-header__toggle--opened::before {
    width: 19px;
    height: 19px;
    position: absolute;
    content: "";
    background-image: url("../img/nav-opened.svg");
    top: 0;
    right: 0;
    background-repeat: no-repeat;
  }

  .logo-img {
    height: 38px;
  }

  .logo-slogan {
    width: 101px;
    height: 18px;
  }
}

@media (min-width: @tablet-width) {
  .main-header {
    padding: 0 30px;
    padding-top: 26px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0;
  }

  .main-header__info {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px;
  }

  .logo-img {
    width: 60px;
    height: 50px;
  }

  .logo-slogan {
    width: 101px;
    height: 19px;
  }

  .main-header__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 33px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    padding: 55px 0;
    padding-bottom: 0;
    max-width: 1220px;
    margin: auto;
  }

  .logo-img {
    height: 59px;
    width: 70px;
  }

  .logo-slogan {
    width: 118px;
    height: 21px;
  }

  .main-header--active {
    position: absolute;
    z-index: 3;
    background-color: transparent;
    color: @black;
    width: 100%;
    left: calc(50vw - 1220px / 2);
  }

  .main-header__info {
    gap: 14px;
  }
}
