@tablet-width: 768px;
@desktop-width: 1440px;

.main-header {
  background-color: #ffffff;
  padding: 10px 20px;
  min-width: 66px;
}

.main-header__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 56px;
  justify-content: space-between;
}

.main-header__logo {
  margin: 0;
  height: 38px;
}

.main-header__toggle {
  margin: 0;
  padding: 0;
  z-index: 2;
  display: block;
  width: 24px;
  min-height: 16px;
  cursor: pointer;
  border: none;
}


.main-header__toogle--closed {
  display: block;
  background-image: url("../img/nav-closed.svg");
  width: 24px;
  height: 18px;
}

.main-header__toogle--opened {
  display: block;
  background-image: url("../img/nav-opened.svg");
}

.main-header__toogle--nojs {
  display: block;
}

.logo-img {
  height: 38px;
}

.logo-slogan {
  height: 18px;
}


@media (min-width: @tablet-width) {
  .main-header {
    padding: 0 30px;
    padding-top: 42px;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    gap: 93px;
    width: 96%;        //посчитала что 92% но только при 96 встает нормально, почему?//
    max-width: 960px;
    margin: 0;
  }

  .main-header__info {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px;
    justify-content: space-between;
  }

  .logo-img {
    height: 55px;
  }

  .logo-slogan {
    height: 19px;
  }

  .main-header__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 33px;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    padding: 55px 110px;
    padding-bottom: 0;
    gap: 538px;
  }

  .main-header--active {
    position: absolute;
    z-index: 3;
    background-color: transparent;
    color: @black;
  }

  .main-header__info {
    gap: 14px;
  }
}
