@tablet-width: 768px;
@desktop-width: 1440px;

.main-catalog {
  padding: 25px 20px;
  padding-top: 27px;
  padding-right: 18px;
  position: relative;
}

.main-catalog::before {
  content: "";
  position: absolute;
  top: 6%;
  height: 1px;
  width: 320px;
  background-color: #ebebeb;
  z-index: -1;
  right: 0;
}

.main-catalog__title {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding-bottom: 41px;
  margin: 0;
}

.main-catalog__product-list {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
}

.main-catalog__product-card {
  list-style-type: none;
  display: grid;
  grid-template-columns: 141px 141px;
  padding-top: 19px;
}

.main-catalog__product-card:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 6%;
  height: 1px;
  width: 320px;
  background-color: #ebebeb;
  z-index: -1;
  right: 0;
}

.main-catalog__product-card:last-child {
  grid-template-columns: 279px;
  padding-top: 26px;
}

.main-catalog__table {
  padding-top: 14px;
  padding-bottom: 11px;
}

.main-catalog__feed-name {
  text-align: start;
  font-family: @main-font;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  width: 84px;
  text-transform: uppercase;
  padding-top: 2px;
}

.main-catalog__product {
  font-family: @main-font, @accent-font, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  max-width: 83px;
}

.main-catalog__product-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-catalog__product-card-small {
  margin-top: -9px;
}

.main-catalog__product-card-small-third {
  margin-top: 13px;
}

.main-catalog__feed {
  font-family: @accent-font, @main-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @arial;
}

.main-catalog__button {
  grid-column: 1 / -1;
  margin-bottom: 25px;
  align-self: end;
}

.main-catalog__more-food {
  display: grid;
  justify-items: center;
}

.main-catalog__more-plus {
  background-image: url("../img/plus.svg");
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
}

.main-catalog__more-products {
  font-family: @main-font, @accent-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  padding-top: 22px;
  margin: 0;
  text-transform: uppercase;
}

.main-catalog__more-products-discription {
  font-family: @accent-font, @main-font, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: @arial;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 23px;
}

.main-catalog__more-products-button {
  display: inline-block;
  width: 80%;
}

@media (min-width: @tablet-width) {
  .main-catalog {
    padding: 75px 30px;
    padding-bottom: 68px;
  }

  .main-catalog::before {
    display: none;
  }

  .main-catalog__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 90px;
  }

  .main-catalog__product-list {
    gap: 60px;
    grid-template-columns: 1fr 1fr;
  }

  .main-catalog__product-card {
    list-style-type: none;
    display: grid;
    grid-template-columns: 324px;
    background: #f2f2f2;
    justify-content: center;
  }

  .main-catalog__product-card:last-child {
    background: @white;
    border: 2px solid #f2f2f2;
    grid-template-columns: 324px;
  }

  .main-catalog__feed-info {
    display: flex;
    justify-content: space-between;
    margin-left: 37px;
    margin-right: 39px;
    padding-top: 7px;
    padding-bottom: 9px;
    border: 1px solid transparent;
    border-bottom: 1px solid #cdcdcd;
  }

  .main-catalog__more-plus {
    height: 60px;
    width: 60px;
    background-size: 100%;
  }

  .main-catalog__product {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 21px;
    max-width: 14ch;
  }

  .main-catalog__product-img {
    margin-top: -45px;
  }

  .main-catalog__product-card-small {
    width: 161px;
    height: 172px;
  }

  .main-catalog__product-card-small-second {
    width: 163px;
    height: 174px;
  }

  .main-catalog__product-card-small-third {
    width: 161px;
    height: 171px;
  }

  .main-catalog__product-card-chiken-pro {
    width: 168px;
    height: 206px;
  }

  .main-catalog__product-card-big {
    width: 168px;
    height: 200px;
  }

  .main-catalog__table {
    padding-bottom: 0;
  }

  .main-catalog__product-img-second {
    margin-top: -73px;
  }

  .main-catalog__feed-name {
    padding-left: 40px;
    padding-right: 55px;
    padding-bottom: 21px;
  }

  .main-catalog__feed {
    font-size: 16px;
    line-height: 16px;
  }

  .main-catalog__button {
    margin-top: 33px;
    margin-left: 39px;
    margin-right: 37px;
    padding: 10px 93px;
  }

  .main-catalog__more-products {
    font-size: 20px;
    line-height: 22px;
    max-width: 134px;
    text-align: center;
  }

  .main-catalog__more-food {
    margin-top: 52px;
    margin-bottom: 38px;
  }

  .main-catalog__more-products-discription {
    font-size: 16px;
    line-height: 18px;
    padding-top: 23px;
    padding-left: 48px;
    padding-right: 30px;
    text-align: center;
  }

  .main-catalog__more-products-button {
    font-size: 16px;
    line-height: 0px;
    margin-top: 107px;
    padding: 20px 79px;
  }
}

@media (min-width: @desktop-width) {
  .main-catalog {
    padding: 90px 110px;
    padding-bottom: 75px;
  }

  .main-catalog__title {
    padding-bottom: 85px;
  }

  .main-catalog__product-list {
    gap: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .main-catalog__button {
    padding: 10px 53px;
    margin-bottom: 39px;
  }

  .main-catalog__product-card {
    list-style-type: none;
    display: grid;
    grid-template-columns: 245px;
    background: #f2f2f2;
  }

  .main-catalog__product-card:last-child {
    grid-template-columns: 245px;
  }

  .main-catalog__feed-info {
    gap: 0;
  }

  .main-catalog__product {
    font-size: 20px;
    line-height: 24px;
  }

  .main-catalog__product-card-chiken-pro {
    width: 172px;
    height: 202px;
  }

  .main-catalog__product-card-fish {
    width: 172px;
    height: 196px;
  }

  .main-catalog__product-card-buckwheat {
    width: 172px;
    height: 196px;
  }

  .main-catalog__feed {
    font-size: 16px;
    line-height: 16px;
  }

  .main-catalog__more-products {
    font-size: 20px;
    line-height: 22px;
    padding-left: 67px;
  }

  .main-catalog__more-products-discription {
    font-size: 16px;
    line-height: 18px;
    padding-top: 23px;
  }

  .main-catalog__more-products-button {
    font-size: 16px;
    line-height: 1px;
    padding: 20px 39px;
  }

  .additional__products {
    max-width: 895px;
  }
}

