@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;

.main-nav--closed .main-header__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-nav__list {
  list-style-type: none;
  padding: 0;
  padding-top: 12px;
  margin: 0;
}

.main-nav__item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: @main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
  padding-top: 29px;
  padding-bottom: 20px;
  border-top: 1px solid #e6e6e6;
}

.main-nav__item:last-child {
  padding-top: 26px;
  padding-bottom: 22px;
}

.main-nav__link {
  color: inherit;
}

.main-nav__link--current {
  color: @black;
}

@media (max-width: @mobile-width-only) {
  .main-nav {
    width: 100%;
    background-color: @white;
    left: 0;
    z-index: 8;
  }

  .main-nav--nojs {
    position: inherit;
  }


  .main-nav--closed {
    display: block;
    position: absolute;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened {
    display: block;
  }
}


@media (min-width: @tablet-width) {
  .main-nav__link {
    color: @black;
    font-size: 18px;
    line-height: 24px;

    &:hover {
      color: #00000079;
    }

    &:focus {
      color: @grey;
    }

    &--current {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -8px;
        left: 0;
        height: 2px;
        background: @accent;
      }
    }
  }

  .main-nav__item {
    border: none;
    padding-top: 4px;
    padding-left: 5px;
  }

  .main-nav__item:last-child {
    padding-top: 6px;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 33px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__link {
    color: @black;
    font-size: 20px;
    line-height: 30px;
    flex-wrap: wrap;
  }

  .main-nav__link--active {
    color: @white;
  }

  .main-nav__link--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -8px;
    left: 0;
    background: @white;
  }

  .main-nav__link--active:hover {
    color: #ffffff57;
  }

  .main-nav__link--active:focus {
    color: #ffffffb4;
  }

  .main-nav__link--current {
    position: relative;
  }

  .main-nav__list {
    gap: 27px;
  }
}
