.product-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-by__link {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @arial;
}
