.social-list {
  padding-top: 32px;
  display: flex;
  gap: 26px;
  padding-bottom: 22px;
  justify-content: center;
}

.social-list__prodact {
  display: flex;
  gap: 22px;
}

@media (min-width: @desktop-width) {
  .social-list__prodact {
    padding-left: 364px;
  }
}
