@tablet-width: 768px;
@desktop-width: 1440px;

.specs {
  margin: 0;
  padding-top: 20px;
  padding-left: 1px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;
}

.specs__title {
  font-family: @accent-font, @main-font, sans-serif;
  font-size: 12px;
  line-height: 100%;
  color: @arial;
  order: 2;
  margin-bottom: -14px;
  margin-left: 18px;
  margin-right: 22px;
  display: block;
  text-align: center;
  background-color: #eaeaea;
}

.specs__title:last-child {
  text-transform: uppercase;
}

.specs__value {
  font-family: @main-font, @accent-font, sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 9px;
  margin-left: 0;
  padding-left: 41px;
  padding-top: 12px;
}

.specs__value-sec {
  padding-left: 20px;
}

.specs__value:first-child {
  margin-left: 21px;
}

.specs-card {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #cdcdcd;
  max-width: 124px;
}

.specs-total {
  display: flex;
  grid-column: 1 / -1;
}

.specs-total__title,
.specs-total__value {
  font-family: @main-font, @accent-font, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.specs-total__title {
  padding-left: 46px;
}

.specs-total__value {
  margin: 0;
  padding-left: 4px;
}

@media (min-width: @tablet-width) {
  .specs {
    margin: 0;
    padding-top: 54px;
    display: flex;
    gap: 42px;
  }

  .specs-total__title {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .specs-total {
    max-width: 279px;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: 16px;
  }

  .specs__title {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    margin-left: 22px;
    margin-bottom: -20px;
    margin-right: 0;
    margin-top: 3px;
  }

  .specs__title:last-child {
    margin-left: 11px;
  }

  .title-sec {
    padding-top: 11px;
  }

  .value-sec {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }

  .specs-card {
    max-width: 162px;
  }

  .specs__value {
    padding-left: 54px;
    padding-top: 15px;
    font-size: 30px;
    line-height: 37px;
    padding-bottom: 6px;
  }

  .specs__value-sec {
    padding-left: 26px;
  }
}

@media (min-width: @desktop-width) {
  .specs {
    margin: 0;
    padding-top: 54px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column: 1 / 2;
  }

  .specs-card {
    max-width: 162px;
  }
}
